<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
</head>
<body>
    <div id="app">

      <div class="list-profiles-title">
        <h2 >
          List Profile
        </h2>
      </div>
      <div class="filter-container">
        <input v-on:keyup="handleSearchProfiles" v-bind:value="searchField" class="filter-container-input" type="text" placeholder="Search profile here" /> 
      </div>
      <div class="data-not-found-center-text" v-if="currentListDisplay.length <= 0">
        Data not found
      </div>
      <div class="list-profiles-container">
        <!-- Each profile is each profile-information -->
        <div class="profile-information" v-for="profile in currentListDisplay">
          <div class="profile-avatar-information-container">
            <div class="avatar">
              <img
                class="avatar-image"
                v-bind:src="profile.avatar"
              />
            </div>
            <div class="information">
              <div class="information-name">{{profile.first_name}} {{profile.last_name}}</div>
              <div class="information-bio">
                {{profile.bio}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination" v-if="paginationLoaded && numOfPaginations > 0 && searchField.trim() === ''">
          <a class="pagination-pointer" v-on:click="handleChangePage(1)">&laquo;</a>
          <span v-if="numOfPaginations < 5">
            <a
              class="pagination-pointer"
              v-for="page in numOfPaginations"
              v-bind:class="isCurrentPage(page)"
              v-on:click="handleChangePage(page)"
            >
              <span>{{page}}</span>
            </a>
          </span>
          <span v-else>
            <span v-if="currentPage < 5">
              <a
                class="pagination-pointer"
                v-for="page in 5"
                v-bind:class="isCurrentPage(page)"
                v-on:click="handleChangePage(page)"
              >
                <span>{{page}}</span>
              </a>
              <a class="pagination-pointer">
                <span>...</span>
              </a>
              <a
                class="pagination-pointer"
                v-on:click="handleChangePage(numOfPaginations)"
              >
                <span>{{numOfPaginations}}</span>
              </a>
            </span>
            <span v-else>
              <a class="pagination-pointer">
                <span>...</span>
              </a>
              <a
                class="pagination-pointer"
                v-for="page in currentPage"
                v-if="currentPage - page < 2"
                v-bind:class="isCurrentPage(page)"
                v-on:click="handleChangePage(page)"
              >
                <span>{{page}}</span>
              </a>
              <a
                class="pagination-pointer"
                v-on:click="handleChangePage(currentPage + 1)"
                v-if="currentPage <= numOfPaginations - 1"
              >
                <span>{{currentPage + 1}}</span>
              </a>
              <a class="pagination-pointer" v-if="currentPage < numOfPaginations -1">
                <span>...</span>
              </a>

            </span>
          </span>
          <a class="pagination-pointer" v-on:click="handleChangePage(numOfPaginations)">&raquo;</a>
      </div>
      <!-- Current Page: {{currentPage}} => {{(currentPage - 1)*maxProfilesPerPage}} -  {{currentPage*maxProfilesPerPage - 1}} -->
    </div>
</body>
<script src="./script.js"></script>
</html>